.video-container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.blurred-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0px);
  z-index: 1;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 0;
}

.cards-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 2;
}

.desktop-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.mobile-slider {
  display: none;
}

.card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.463);
  width: 300px;
  max-width: 100%;
  text-align: center;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border: 1px dotted #999999;
}

.card:hover {
  transform: scale(1.025);
  transition: transform 0.3s ease;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin: 20px 0;
}

.icon {
  width: 100%;
  height: 100%;
  fill: #ffffff;
  max-width: 120px;
  max-height: 120px;
}

.card h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #ffffff;
}

.card p {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 24px;
}

.card-1 {
  background: linear-gradient(45deg, #ffc947, #e2ef7c);
}

.card-2 {
  background: linear-gradient(45deg, #50c3df, #6fe7d7);
}

.card-3 {
  background: linear-gradient(45deg, #f66d6a, #aa8ff2);
}

@media screen and (max-width: 768px) {
  .video-container {
    height: 70vh;
  }

  .desktop-cards {
    display: none;
  }

  .mobile-slider {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .card {
    width: 100%;
    height: 450px; /* Increased height for mobile */
    margin: 0 auto;
  }

  .icon-container {
    height: 100px; /* Slightly smaller for mobile */
  }

  .icon {
    max-width: 100px;
    max-height: 100px;
  }

  /* Customize Slick slider dots */
  .slick-dots {
    bottom: -30px;
  }

  .slick-dots li button:before {
    color: #ffffff;
  }

  /* Ensure the slider takes up the full height of its container */
  .slick-slider, .slick-list, .slick-track {
    height: 100%;
  }

  /* Center the card vertically within the slider */
  .slick-slide > div {
    height: 100%;
    display: flex;
    align-items: center;
  }
}