.technologies {
    background-color: #ffffff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Adjust the gap value as needed */
  }
  
  .logo-item {
    text-align: center;
    margin: 10px;
  }
  
  .logo-image {
    width: 40px;
    height: 40px;
    object-fit: contain;
    /* filter: saturate(0%); */
  }
  
  .logo-heading {
    margin-top: 5px;
    font-size: 14px;
  }
  