.video-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  
  .blurred-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(0px);
    z-index: 1;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }
  
  .cards-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px; /* Increased the gap between cards to 40px */
    z-index: 2;
  }
  
  .card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.463);
    width: 300px;
    max-width: 100%;
    text-align: center;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    border: 1px dotted #999999; /* Added dotted border */
  }
  .card:hover{
    scale: 1.025;
  }
  
  .card:first-child {
    margin-right: 20px; /* Added margin to separate the first card from the dotted line */
  }
  
  .card:last-child {
    margin-left: 20px; /* Added margin to separate the last card from the dotted line */
  }
  
  .icon {
    margin-top: 30px;
    width: 120px;
    height: 120px;
    fill: #ffffff;
    align-self: center;
  }
  
  .card h2 {
    font-size: 24px;
    margin-top: 48px;
    margin-bottom: 10px;
    color: #333333;
  }
  
  .card p {
    font-size: 16px;
    color: #555555;
    margin-bottom: 24px;
  }
  
  .card:nth-child(1) {
    background: linear-gradient(45deg, #ffc947, #e2ef7c);
    /* Rest of the CSS properties */
  }
  
  .card:nth-child(2) {
    background: linear-gradient(45deg, #50c3df, #6fe7d7);
    /* Rest of the CSS properties */
  }
  
  .card:nth-child(3) {
    background: linear-gradient(45deg, #f66d6a, #aa8ff2);
    /* Rest of the CSS properties */
  }
  
  .card h2,
  .card p {
    color: #ffffff;
  }
  .section-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .section-header h1 {
    font-size: 28px;
    color: #ffffff;
  }
  
  @media screen and (max-width: 768px) {
    .video-container {
      position: relative;
      height: 70vh;
      width: 100%;
      overflow: hidden;
    }

    .cards-container {
      display: flex;
      overflow-y: scroll;
      /* flex-direction: column; */
    }
  
    .card {
      width: 320px;
      max-width: 400px;
      height: 400px;
    }
  
    .card:first-child {
      display: none;
    }
  
    .card:nth-child(2) {
            display: none;

    }
  
    .card h2 {
      font-size: 20px;
      margin-top: 30px;
    }
  
   
  
    .section-header h1 {
      font-size: 24px;
    }
  }
  